.content {
  width: 100%;
  height: 100vh;
  background-image: url(../images/image5.jpeg);
  border-image-width: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.travel-title {
  padding-left: 40px;
  font-size: 4rem;
  font-weight: 500;
  text-decoration: double;
}

.packages .card {
  border-radius: 5px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.packages .card .card-body {
  background: transparent;
}

.packages .card img {
  transition: 0.5s;
}

.packages .card img:hover {
  border-radius: 5px;
  transform: scale(1.1);
}

.services {
  background-color: #f9f9f9;
}

.services .card {
  box-shadow: 5px 5px 5px -6px rgb(198, 197, 197);
  border: none;
  cursor: pointer;
}

.services-icon {
  font-size: 80px;
  color: #ffa500;
  margin-top: 20px;
}

.gallery .card {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  cursor: pointer;
}

.gallery .card img {
  border-radius: 5px;
  transition: 0.5s;
}

.gallery .card img:hover {
  transform: scale(1.1);
}

.footer {
  font-size: 21px;
  font-weight: 400;
  background-color: #fdf7f7;
}

.brand-icon {
  margin: 5px;
  padding: 10px;
  /* border-radius: 20px; */
  color: #fff;
  background: linear-gradient(to right, rgb(140, 22, 140), rgb(231, 94, 117));
}

.brand-icon:hover {
  background: rgb(175, 44, 66);
  cursor: pointer;
}

.logo-shadow {
  text-shadow: 0px 1px 1px rgb(158, 43, 14);
}
